table {
	width: 100%;
	border-collapse: separate; 
}

td {
	text-align: left;
}


.currency{
      display: flex;
      align-self: center;
      background:#f4f4f4;
      padding:10px;
      margin-bottom:10px;
}

.currency tr{
      height: 30px;
      text-align: left;
}



   	